body{
    background-image: -webkit-linear-gradient(-63deg, rgba(242,0,0,1) 0, rgba(0,249,54,1) 50%, rgba(0,150,255,1) 100%);
    background-image: -moz-linear-gradient(153deg, rgba(242,0,0,1) 0, rgba(0,249,54,1) 50%, rgba(0,150,255,1) 100%);
    background-image: linear-gradient(153deg, rgba(242,0,0,1) 0, rgba(0,249,54,1) 50%, rgba(0,150,255,1) 100%);
}
